{% extends "plantillabase2.html" %} 

{% block content %}

<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
 <li class="breadcrumb-item active">Baja Cliente</li>
</ol>

<div class="card col-3">
    <div class="card-header">Baja de Cliente</div>
    <div class="card-body">
        <form action="{% url 'BajaClienteForm' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'prueba_clientes/form_campos.html' %}
<div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Eliminar" class="btn btn-danger">
        <a href="javascript:history.back();" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>

        </form>
</div></div></div>
{% endblock %}