{% extends "plantillabase2.html" %} 

{% block content %}

<h1 class="mt-4">Departamento</h1>
<ol class="breadcrumb mb-4">
 <li class="breadcrumb-item active"></li>
</ol>

<div class="card col-3">
    <div class="card-header">Alta de Departamento</div>
    <div class="card-body">
        <form action="{% url 'altadepartamentoform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'ventas/form_campos.html' %} 
            {% comment %} {{formulario.as_p}} {% endcomment %}
            <div class="row mt-3">
    <div class="col-12">
        <input type="submit" value="Guardar" class="btn btn-success">
        <a href="javascript:history.back();" class="btn btn-secondary">Cancelar</a>        
    </div>
</div>
        </form>

</div></div></div>



{% endblock %}