{% extends "plantillabase2.html" %}

{% block content %}

<!-- <div class="card col-3">
    <div class="card-header">Buscar Venta</div> -->
    <!-- <div class="card-body">
        <form action="{% url 'buscarventas' %}" method="GET" enctype="multipart/form-data">
            {{ form.as_p }}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Filtrar" class="btn btn-success">
                </div>
            </div>
        </form>

    </div> -->
</div>
</div>


<div class="container-xxl mx-5 my-5">
    <p>Clientes que no compran hace mas de 3 meses: <h1> {{ventas|length}} </h1></p>

    <p>Enviar promocion por mail a los siguientes clientes:</p>
 
    
    <table class="table">
        <thead>
            <tr>
                
                    <th>Id</th>
                    <th>Fecha de Venta</th>
                    <th>Monto</th>
                    <th>Cliente ID</th> 
                    <th>Forma de Pago ID</th> 
                
            </tr>
        </thead>
        <tbody>

            {% for venta in ventas %}
            <tr>
                        <td>{{venta.id}}</td>
                        <td>{{venta.fecha_de_venta}}</td>
                        <td>{{venta.monto}}</td> 
                        <td>{{venta.clientes_id}}</td>          
                        <td>{{venta.pagoformas_id}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}