<html>
<body>

<!-- ESTE ES UN EJEMPLO QUE FUNCIONA -->

<p>Estas buscando: {{query}}</p>

{% if articulos %}
    <p>Articulos encontrados: {{articulos|length}}</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Seccion</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in articulos %}
                    <tr>
                        <td>{{articulo.id}}</td>
                        <td>{{articulo.nombre}}</td>
                        <td>{{articulo.seccion}}</td>
                        <td>{{articulo.precio}}</td>
                        <td>
                        

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>





{% else %}
    <p> no esta el articulo </p>

{% endif %}
</body>
</html>